:root {
  --background-color: #60c9db;
  --content-color: #e91026;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 1fr 6fr;
}

/* Header styling */

header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-title {
  font-size: 2rem;
}

.score-board {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.score-label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 10rem;
}

/* Gameboard styling */

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

p.instruction {
  font-size: 2rem;
}

.card-container {
  flex-shrink: 0;
  flex-grow: 1;
  max-height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 1rem;
  justify-content: center;
}

/* Card styling */

img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
}
